.header {
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);

  background-image: linear-gradient(
    135deg,
    var(--color-dark-blue) 30%,
    var(--color-dark-green)
  );
  height: 90vh;
  padding: 5rem;
  color: #fff;
  overflow: hidden;

  @media screen and (max-width: 560px) {
    padding: 2rem;
  }

  .data {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;
    gap: 1rem;

    border-radius: 50px;

    h1 {
      font-size: max(3vw, 2rem);
    }

    h2 {
      font-size: max(1.5vw, 1rem);
    }

    h1,
    h2 {
      position: relative;
    }

    h1:after,
    h2:after {
      content: '';
      position: absolute;
      display: block;

      height: 2px;
      width: 100px;
      margin-top: -5px;
      left: 0;

      background-image: linear-gradient(
        90deg,
        var(--color-white),
        var(--color-dark-green)
      );
      border-radius: 2px;
      opacity: 0;

      animation: line-animation 2s linear infinite;
    }

    h2:after {
      animation-delay: 0.8s;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    small {
      display: block;
    }

    .socialMedia {
      display: flex;

      a {
        --delay: 0s;
        width: 30px;
        height: 30px;
        margin-right: 1rem;
        border-radius: 50%;

        transition: 0.3s;
        animation: profile-link-animation 6s linear infinite;
        animation-delay: var(--delay);

        &:hover {
          transform: scale(1.2);
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    img {
      width: 100px;
    }

    @media screen and (max-width: 560px) {
      align-items: center;
      padding-left: unset;
      padding: 4rem 1rem;
      overflow: hidden;

      background: linear-gradient(
        145deg,
        rgba(0, 0, 0, 0.2),
        rgba(255, 255, 255, 0.05)
      );
      box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.3),
        -20px -20px 60px rgba(255, 255, 255, 0.1);

      h1,
      h2,
      small {
        text-align: center;
      }

      .socialMedia {
        justify-content: center;
      }
    }
  }

  .img {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 1rem;
    width: max(50vw, 500px);

    img {
      width: 100%;
    }

    @media screen and (max-width: 918px) {
      display: none;
    }
  }
}

@keyframes line-animation {
  40% {
    opacity: 0;
  }
  60% {
    left: 0;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes profile-link-animation {
  0% {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
  }
  16% {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  }
  33% {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
  }
}
